<?xml version="1.0"?>

<object name="Module"
   meta_type="Factory-based Type Information with dynamic views">
   <!-- FIXME FUTURE: i18n properties skipped; apparently not supported in Plone 2.5 -->

  <property name="title">Module</property>
  <property name="description">A module is text about a specific topic or one aspect of a complex topic, along with any accompanying files or images.</property>
  <property name="content_meta_type">Module Editor</property>
  <property name="content_icon">module_icon.gif</property>

  <property name="product">RhaptosModuleEditor</property>
  <property name="factory">addModuleEditor</property>

  <property name="immediate_view"></property>
  <property name="global_allow">True</property>
  <property name="filter_content_types">True</property>
  <property name="allowed_content_types">
   <element value="UnifiedFile"/>
   <element value="CNXML Document"/>
  </property>
  <property name="allow_discussion">False</property>

  <property name="default_view"></property>
  <property name="view_methods">
    <element value="" />
  </property>

  <alias from="(Default)" to="module_text" />
  <!--<alias from="edit" to="" />-->
  <alias from="view" to="module_text" />
  <alias from="contents" to="module_files" />

  <action title="Edit"
          action_id="view"
          url_expr="string:${object_url}/module_text"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="View" />
  </action>
  <action title="Files"
          action_id="contents"
          url_expr="string:${object_url}/module_files"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="Modify portal content" />
  </action>
  <action title="Metadata"
          action_id="metadata"
          url_expr="string:${object_url}/module_metadata"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="Modify portal content" />
  </action>
  <action title="Roles"
          action_id="roles"
          url_expr="string:${object_url}/content_roles"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="Modify portal content" />
  </action>
  <action title="Links"
          action_id="links"
          url_expr="string:${object_url}/module_links"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="Modify portal content" />
  </action>
  <action title="Preview"
          action_id="preview"
          url_expr="string:${object_url}/module_preview"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="View" />
  </action>
  <action title="Publish"
          action_id="publish"
          url_expr="string:${object_url}/module_publish"
          condition_expr=""
          category="object"
          visible="True">
    <permission value="Modify portal content" />
  </action>
  <action title="Source"
          action_id="viewsource"
          url_expr="string:${object_url}/module_source"
          condition_expr=""
          category="object_cnx_view"
          visible="True">
    <permission value="View" />
  </action>
  <!--<action title="Print"
          action_id="viewprint"
          url_expr="string:${object_url}/module_view?format=pdf"
          condition_expr=""
          category="object_cnx_view"
          visible="True">
    <permission value="View" />
  </action>-->
  <action title="Checkout"
          action_id="checkout"
          url_expr="string:${object_url}/checkout"
          condition_expr="python: folder is not object"
          category="object_cnx_action"
          visible="True">
    <permission value="View" />
  </action>
  <action title="Discard"
          action_id="discard"
          url_expr="string:${object_url}/confirm_discard"
          condition_expr=""
          category="object_cnx_action"
          visible="True">
    <permission value="Modify portal content" />
  </action>

</object>
